<!DOCTYPE html>

<!-- Source: https://github.com/startbootstrap/startbootstrap-shop-homepage -->

<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Antiek catalogus</title>

  <!-- Bootstrap core CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link href="style/stylesheet.css" rel="stylesheet"/>
</head>
  <body>

     <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
         </button>
       <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>
                <li class="nav-item">
                   <form action="authentication/logout?_method=DELETE" method="post">
                      <button type="submit" class="nav-link" style="background-color: transparent; border: none;">Log out</button>
                   </form>

               </li>
            </ul>
       </div>
    </div>
   </nav>
        {{{body}}}
  <footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Antiek De Rycke 2021</p>
    </div>
</footer>
  </body>
</html>
